@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

body {
  background-color: #f5f5f5;
}

/* Navbar content style__ST */

.main_navbar_container {
  max-width: 1536px;
  margin: auto;
  padding: 20px 0;
}

.main_navbar_container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_navbar_container ul li {
  list-style: none;
  cursor: pointer;
}

.main_navbar_container ul li h1 {
  font-size: 2.2rem;
  color: #151515;
}

.main_navbar_container ul li button {
  color: #006a50;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #006a50;
  cursor: pointer;
}

.main_navbar_container ul li button:hover {
  background-color: #eeeeee;
}

/* Navbar content style__END */

/* Banner content style__ST */

.main_banner_container {
  max-width: 1536px;
  margin: auto;
  padding: 100px 80px;
  background-color: #c6e4d6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Banner left side content style__ */

.banner_left_side_container {
  width: 50%;
}

.banner_left_side_container h3 {
  font-size: 24px;
  font-weight: 600;
  color: #0e0e0e80;
}

.banner_left_side_container h1 {
  font-size: 3.2rem;
  padding: 50px 0;
}

.banner_left_side_container button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #006a50;
}

.banner_left_side_container button:hover {
  background-color: #015843;
}

/* Banner right side content style__ */

.banner_right_side_container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner content style__END */

/* Pillar content style__ST */

.main_pillar_container {
  max-width: 1536px;
  margin: auto;
  margin-top: 100px;
}

.main_pillar_inner_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_pillar_container h2 {
  font-size: 2.4rem;
  padding-bottom: 20px;
  color: #151515;
}

.main_pillar_card_container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #0e0e0e26;
  transition: transform 0.3s ease-in-out;
}

.main_pillar_card_container:hover {
  transform: scale(1.1);
}

.pillar_card_contents h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
}

.pillar_card_contents p {
  color: #0e0e0eb3;
}

/* Pillar content style__END */

/* Vision content style__ST */

.main_vision_container {
  max-width: 1536px;
  margin: auto;
  margin-top: 100px;
}

.main_vision_inner_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_vision_container h2 {
  font-size: 2.6rem;
  color: #151515;
}

.main_vision_container p {
  padding: 30px 0;
  color: #0e0e0eb3;
}

#vision_card_1 {
  background-color: #5490f533;
}

#vision_card_2 {
  background-color: #c6e4d6;
}

#vision_card_3 {
  background-color: #f7ebcf;
}

.vision_card_container {
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.vision_card_container h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.vision_card_container p {
  padding: 0;
  margin-top: 30px;
}

.vision_card_container button {
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#vision_btn_1 {
  background-color: #5490f5;
}

#vision_btn_1:hover {
  background-color: #4e84e2;
}

#vision_btn_2 {
  background-color: #09a15c;
}

#vision_btn_2:hover {
  background-color: #098f52;
}

#vision_btn_3 {
  background-color: #ffc239;
}

#vision_btn_3:hover {
  background-color: #dda931;
}

.main_govt_info_container {
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #0e0e0e26;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  background-image: url(./assets/quote-bg.png);
}

.main_govt_info_container article p {
  padding: 0;
  line-height: 25px;
}

.main_govt_info_container h2 {
  margin-top: 30px;
  font-size: 1.5rem;
}

.main_govt_info_container h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e99;
}

/* Vision content style__END */

/* News content style__ST */

.main_news_container {
  max-width: 1536px;
  margin: auto;
  margin-top: 100px;
}

.main_news_container h1 {
  font-size: 3rem;
}

.main_news_container p {
  padding: 30px 0;
  color: #0e0e0eb3;
}

.news_card_container {
  gap: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #ffffff;
}

#news_card {
  flex-direction: row-reverse;
}

.news_card_container img {
  border-radius: 24px;
}

.news_card_contents h2 {
  font-size: 2rem;
}

.news_card_contents img {
  border-radius: 0;
  padding: 20px 0;
}

.news_card_contents span {
  color: #0e0e0eb3;
  padding-right: 10px;
}

.news_card_contents p {
  color: #0e0e0eb3;
}

.news_card_contents button {
  padding: 10px 20px;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #006a50;
}

.news_card_contents button:hover {
  background-color: #015c45;
}

/* News content style__END */

/* Donate content style__ST */

.main_donate_container {
  margin: auto;
  max-width: 1536px;
  margin-top: 100px;
}

.main_donate_container h1 {
  font-size: 3rem;
  text-align: center;
}

.main_donate_container p {
  text-align: center;
  color: #0e0e0eb3;
  font-size: 18px;
  line-height: 30px;
  padding: 40px 100px;
}

.donate_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.denate_card_container {
  padding: 40px;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background-color: #ffffff;
  border: 2px solid #0e0e0e26;
}

.denate_card_container:hover {
  transition: 0.3s ease-in-out;
  background-color: #c6e4d6;
}

.donate_amount_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.donate_amount_container input {
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  border: none;
  outline: none;
  width: 90%;
}

.donate_amount_container button {
  padding: 10px 20px;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #006a50;
}

.donate_amount_container button:hover {
  background-color: #015c45;
}

/* Donate content style__END */

/* Newsletter content style__ST */

.main_newsletter_container {
  margin: auto;
  margin-top: 100px;
  max-width: 1536px;
  border-radius: 24px;
  padding: 100px 80px;
  text-align: center;
  margin-bottom: 80px;
  background-color: #c6e4d6;
}

.main_newsletter_container h1 {
  font-size: 3rem;
}

.main_newsletter_container p {
  padding: 30px 300px;
  color: #0e0e0eb3;
  font-size: 18px;
}

.newsletter_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.newsletter_input_container input {
  border: none;
  width: 45%;
  font-size: 18px;
  padding: 15px 40px;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.newsletter_input_container button {
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background-color: #006a50;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.newsletter_input_container button:hover {
  background-color: #015c45;
}

.main_newsletter_container span {
  color: #0e0e0eb3;
  font-size: 18px;
}

/* Newsletter content style__END */

/* Footer content style__ST */

.main_footer_container {
  padding: 50px 0;
  background-color: #ffffff;
  text-align: center;
}

.main_footer_container h2 {
  font-size: 2.5rem;
  max-width: 1536px;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 2px solid#0E0E0E1A;
}

.main_footer_container img {
  cursor: pointer;
  padding: 20px 20px 0 0;
}

/* Footer content style__END */